# Ignore virtual environments
.venv/
.ansibletestlab-env/

# Ignore Python cache
__pycache__/

# Ignore Ansible temporary/retry/log files
*.retry
*.log

# VS Code settings (optional if project-specific settings are shared)
.vscode/

# Ansible cache (optional, usually outside project dir)
.ansible/